@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default browser controls */
.player video::-webkit-media-controls {
  display: none !important;
}
.player video::-webkit-media-controls-enclosure {
  display: none !important;
}
.player video::-webkit-media-controls-panel {
  display: none !important;
}
.player video::-webkit-media-fullscreen-button {
  display: none !important;
}

